/* BASIC:   STYLES */

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: white;
    border: 2px solid black;
}

h1, h3, .navbar-brand span {
    font-weight: 900;
}


/* END:   BASIC STYLES */


/* HEADER */

#header-nav {
    background-color: #999999;
    border-radius: 0;
}

.navbar {
    line-height: 52px;
    height: 62px;
    letter-spacing: 0.65px;
    border: 2px solid black;
    margin-bottom: 0px;
}

.navbar .container {
    margin: 0;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #999;
}

#nav-list a {
    font-size: 1.8em;
    color: black;
}

#nav-list ul {
    margin-top: 20px;
    color: black;
    border: 1px solid black;
}

.navbar-header button[aria-expanded=false], .navbar-header button[aria-expanded=false] .icon-bar {
    border: 2px solid black;
}

.navbar-header button[aria-expanded=true], .navbar-header button[aria-expanded=true] .icon-bar {
    border: 2px solid #DCDCDC;
}

.navbar-header button .navbar-toggle {
    margin-right: 22px;
}


/* END:   HEADER */


/** HEADER **/

#header-nav {
    background-color: #999;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/restaurant-logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    /*  cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span {
    /* Star-K */
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #999;
}

#nav-list a span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone a {
    /* Phone number */
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    /* We Deliver */
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
}


/* END HEADER */


/* HOME PAGE */

#main-content.container {
    width: auto;
    margin: 0;
    border: 2px solid black;
}

div.row {
    background-color: #999;
    margin: 0;
}

.container h3 {
    margin-top: 4px;
    margin-bottom: 5px;
}

.container .jumbotron {
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
}

#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}

.content {
    padding: 0;
}


/* END:   HOME PAGE */
